---
import { markdown } from "@astropub/md";
import { getEntry } from "astro:content";
import triangular from '@stdlib/random-base-triangular';

const { table } = Astro.props;

const entry = await getEntry("tables", table);

function rand_uniform(array: Array<any>) {
    return array[Math.floor(Math.random() * array.length)];
}

function rand_normal(array: Array<any>) {
    return array[Math.floor(triangular(0, array.length, (array.length / 2)))];
}

const item =
    entry && (entry.distribution === "uniform" ? rand_uniform : rand_normal)(entry.data.items);
---

<output style='display: inline-block'>{entry ? markdown(item) : <p><em>Couldn't find table {table}</em></p>}</output>
