---
import {getCollection} from 'astro:content';
const { category } = Astro.params as { category: string };
const generators = await getCollection('generators', ( {id} ) => id!.startsWith(category));
console.log(generators);
---

<nav>
    <ul>
        {generators?.map(({id, data}) => (
        <li>
            <a href={`/generate/${id}`}>{data.name}</a>
        </li>
        ))}
    </ul>
</nav>
